/*Ana's variables*/
@bgColorId2: #4c4c4c;
@cardsColor: #74a6cb;
@titleCardColor: #4e677a;

#header {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  .desktop-navigation {
    height: 150px;
    width: 100%;
    .container-logo {
      height: 150px;
      float: left;
      width: 20%;

      text-align: center;
      a {
        img {
          position: relative;
          top: -15px;
          height: 150px;
          width: 150px;
          transform: rotateX(40deg);
        }
      }
      #zmart {
        font-family: Montserrat, sans-serif;
        position: relative;
        top: -50px;
        font-size: 28pt;
        font-weight: bold;
        transform: rotateX(40deg);
        color: #ff8c00;
      }
    }

    .desktop-link-list-container {
      text-align: right;
      height: 150px;
      float: left;
      width: 80%;
      ul {
        margin-top: 110px;
        li {
          display: inline;
          padding-left: 30px;
          a {
            font-family: Montserrat, sans-serif;
            color: #4c4c4c;
            font-size: 18pt;
            &:hover {
              color: #ff8c00;
            }
          }

        }
      }
    }
  }
}

/*ID1 DIV*/
#id1 {
  padding: 0;
  max-height: 685px;
  overflow: hidden;
  .owl-carousel {

    .item {
      img {
        max-height: 1000px;
      }

      .container {
        text-align: right;
        z-index: 1000;
        position: absolute;
        top: 550px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        .owl-text-overlay {


          color: #fff;
          font-family: Montserrat, sans-serif;

        }
        h2.owl-title {
          font-size: 58pt;
          font-weight: bold;
        }
      }
    }

    .owl-nav {
      margin-top: 0px;
      .owl-prev {

        background: transparent;
        position: absolute;
        top: 35%;
        left: 5%;
        .fa {

          font-size: 22pt;
          &:hover {
            color: snow;
          }
        }
      }

      .owl-next {

        background: transparent;
        position: absolute;
        top: 35%;
        right: 5%;
        .fa {

          font-size: 22pt;

          &:hover {
            color: snow;
          }
        }
      }
    }

  }

}

/*ID2 DIV*/
#id2 {
  background: @bgColorId2;
  margin: 0px;
  padding-top: 13px;
  padding-bottom: 15px;

  .list-style {
    list-style: none;
    li {
      float: right;
      a {
        #p1 {
          &:hover {
            content: url("../img/twitterHover.png");
          }
        }
        #p2 {
          &:hover {
            content: url("../img/facebookHover.png");
          }
        }
      }
    }
  }
}

/* ID3 DIV*/
#id3 {
  height: 900px;

  .container .row {
    padding: 0px;

    .col-lg-4 {

      .jumbotron {
        background: transparent;
        font-family: 'Montserrat', sans-serif;
        padding-top: 130px;
        padding-bottom: 200px;
        padding-left: 40px;
        p {

          font-family: 'Roboto', sans-serif;
          margin-bottom: 50px;
          margin-top: 50px;
          color: grey;

        }

        .card {
          border: none;
          width: 100%;
          height: auto;
          .card-body {
            margin-bottom: 10px;

            .btn {
              font-family: 'Roboto', sans-serif;
              background: #ff8c00;
              border-radius: 1000px;
              padding: 20px 60px;
              color: #ffffff;
              display: inline-block;
              font: normal 400 20px/1 "Roboto";
              text-align: center;
              text-shadow: 1px 1px #000000;
              margin-left: 0px;

            }

            .card-title {
              font-family: 'Montserrat', sans-serif;
              font-size: 28px;
              font: bold 900 30px/1 "Montserrat";
              margin-top: 10px;
              margin-bottom: 0px;
              padding: 0px;
              width: auto;
              height: 70px;
              color: @titleCardColor;
              margin-top: 40px;
              margin-bottom: 0px;

            }
            .card-text {
              font-size: 18px;
              color: #8b8b8b;
              font-weight: 400;
              padding-bottom: 0px;
            }
          }
        }
      }
    }
  }

}
