/*Ana's variables*/
.head-content-wrapper {
  background: white;
  height: 150px;
}
.head-content-wrapper .navbar {
  background: white;
  border: 0;
  margin: 0;
  height: 150px;
}
.head-content-wrapper .navbar .container-fluid .container .row #imagelogo {
  position: relative;
  top: -20px;
}
.head-content-wrapper .navbar .container-fluid .container .row #imagelogo img {
  height: 150px;
  width: 150px;
  transform: rotateX(45deg);
}
.head-content-wrapper .navbar .container-fluid .container .row #menubar {
  width: 100%;
  position: relative;
  top: -50px;
  z-index: 10;
  background: white;
}
.head-content-wrapper .navbar .container-fluid .container .row #menubar .navbar-header .navbar-brand {
  font-size: 30pt;
  transform: rotateX(45deg);
  padding-left: 26px;
  font-family: Roboto;
  font-weight: bold;
  color: #dd6414;
}
.head-content-wrapper .navbar .container-fluid .container .row #menubar #navbar3 {
  border: 0;
  font-size: 18pt;
  cursor: pointer;
}
.head-content-wrapper .navbar .container-fluid .container .row #menubar #navbar3 .nav li {
  text-align: center;
}
.head-content-wrapper .navbar .container-fluid .container .row #menubar #navbar3 .nav li a:hover {
  color: #ff7f00;
}
/*ID1 DIV*/
#id1 {
  padding: 0;
  height: 685px;
  overflow: hidden;
}
#id1 .container {
  position: absolute;
  bottom: 430px;
  text-align: right;
  z-index: 3;
}
#id1 .container .owl-text {
  font-size: 58pt;
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
#id1 #owl-demo .item img {
  width: 100%;
  height: 1000px;
}
/*ID2 DIV*/
#id2 {
  background: #4c4c4c;
  margin: 0px;
  padding-top: 13px;
  padding-bottom: 15px;
}
#id2 .list-style {
  list-style: none;
}
#id2 .list-style li {
  float: right;
}
#id2 .list-style li a #p1:hover {
  content: url("../img/twitterHover.png");
}
#id2 .list-style li a #p2:hover {
  content: url("../img/facebookHover.png");
}
/* ID3 DIV*/
#id3 {
  height: 900px;
}
#id3 .container .row {
  padding: 0px;
}
#id3 .container .row .col-lg-4 .jumbotron {
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  padding-top: 130px;
  padding-bottom: 200px;
  padding-left: 40px;
}
#id3 .container .row .col-lg-4 .jumbotron p {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 50px;
  margin-top: 50px;
  color: grey;
}
#id3 .container .row .col-lg-4 .jumbotron .card {
  border: none;
  width: 100%;
  height: auto;
}
#id3 .container .row .col-lg-4 .jumbotron .card .card-body {
  margin-bottom: 10px;
}
#id3 .container .row .col-lg-4 .jumbotron .card .card-body .btn {
  font-family: 'Roboto', sans-serif;
  background: #ff8c00;
  border-radius: 1000px;
  padding: 20px 60px;
  color: #ffffff;
  display: inline-block;
  font: normal 400 20px/1 "Roboto";
  text-align: center;
  text-shadow: 1px 1px #000000;
  margin-left: 0px;
}
#id3 .container .row .col-lg-4 .jumbotron .card .card-body .card-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font: bold 900 30px/1 "Montserrat";
  margin-top: 10px;
  padding: 0px;
  width: auto;
  height: 70px;
  color: #4e677a;
  margin-top: 40px;
  margin-bottom: 0px;
}
#id3 .container .row .col-lg-4 .jumbotron .card .card-body .card-text {
  font-size: 18px;
  color: #8b8b8b;
  font-weight: 400;
  padding-bottom: 0px;
}
